<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @servicio.nombre %>
</p>

<p>
  <b>Precio:</b>
  <%= @servicio.precio %>
</p>


<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
