<h1>Listing venta</h1>

<table>
  <tr>
    <th>Persona</th>
    <th>Servicio</th>
    <th>Cantidad</th>
    <th>Monto</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venta.each do |ventum| %>
  <tr>
    <td><%= ventum.persona.nombre %></td>
    <td><%= ventum.servicio.nombre %></td>
    <td><%= ventum.cantidad %></td>
    <td><%= ventum.monto %></td>
    <td><%= ventum.fecha %></td>
    <td><%= ventum.hora %></td>
    <td><%= link_to 'Show', ventum %></td>
    <td><%= link_to 'Edit', edit_ventum_path(ventum) %></td>
    <td><%= link_to 'Destroy', ventum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ventum', new_ventum_path %>
