<p id="notice"><%= notice %></p>

<p>
  <b>Persona:</b>
  <%= @ventum.persona_id %>
</p>

<p>
  <b>Servicio:</b>
  <%= @ventum.servicio_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @ventum.cantidad %>
</p>

<p>
  <b>Monto:</b>
  <%= @ventum.monto %>
</p>

<p>
  <b>Fecha:</b>
  <%= @ventum.fecha %>
</p>

<p>
  <b>Hora:</b>
  <%= @ventum.hora %>
</p>


<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
