<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Apellido1:</b>
  <%= @persona.apellido1 %>
</p>

<p>
  <b>Apellido2:</b>
  <%= @persona.apellido2 %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
